@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');
.idiot {
	font-family: 'GFS Didot', serif;
}
.worksans {
	font-family: 'Work Sans', sans-serif;
}
body,
.row,
ul,
ol,
p
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.displayFlex {
	display: flex;
}
.flexWrap {
	flex-wrap: wrap;
}
.justifyB {
	justify-content: space-between;
}
.justifyC {
	justify-content: center;
}
.alignCenter {
	align-items: center;
}
a {
    text-decoration: none !important;
}

/*footer css*/
#mainFooter {
    background: #000000;
    text-align: center;
    padding: 60px 0px 40px;
    font-family: 'Work Sans', sans-serif
}

#mainFooter h4 {
    color: #c7b187;
    text-transform: uppercase;
    font-size: 21px;
    margin: 0px;
}

#menu-footer-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

#menu-footer-menu li:nth-child(even) {
    margin: 0px 20px;
}

#menu-footer-menu a {
	color: #fff;
    font-size: 15px;
    font-weight: 500;
    opacity: 0.9;
}

.Policies a {
    color: #ffff;
    opacity: 0.4;
    font-size: 12px;
}

.Policies {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Policies li {
    margin-right: 20px;
}
.footerLogo {
    max-width: 50px;
    max-height: 50px;
}
.copyRights {
    margin: 20px 0px 0px;
    color: #fff;
    opacity: 0.4;
    letter-spacing: 2px;
    font-size: 12px;
}
footer .minimumContainer {
    max-width: 700px;
    margin: auto;
}
.IconCOntainer {
	width: 100%;
	min-height: 167px;
	background: #0f0f0f;
    cursor: pointer;
}
.IconCOntainer:nth-child(even) {
    background: #212121;
}
.IconCOntainer:hover {
	background: url('./assets/images/gradient.png');
}
.IconCOntainer i {
	font-size: 36px;
	color: #fff;
}
.profileBgSocail {
    background: url('./assets/images/Social.png');
    background-size: 100% 100%;
    padding: 50px 0px;
}

.profileBgSocail span {
	display: block;
	font-size: 22px;
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
	color: #a3a3a3;
	padding-left: 50px;
	position: relative;
}
.profileBgSocail h5 {
	font-size: 22px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Work Sans', sans-serif;
	color: #ccbe9d;
	margin: 20px 0px 0px;
}
.profileBgSocail h2  {
	font-size: 80px;
	line-height: normal;
	font-family: 'GFS Didot', serif;
	font-weight: 700;
	text-transform: uppercase;
}
.profileBgSocail .contentheading {
    max-width: 300px;
    margin: auto;
    display: block;
}
.profileBgSocail span::after {
    content: "";
    width: 40px;
    height: 4px;
    background: url('./assets/images/gradient.png');
    display: block;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.CalltoAction 
{
    background: url('./assets/images/gradient.png');
    display: flex;
    background-size: 100% 100%;
    align-items: center;
    justify-content: center;
    height: 50px;
    max-width: 235px;
    font-size: 14px;
    color: #000000;
    font-weight: 500;
    margin: 30px auto 0px;
    border: 2px solid #aa9771;
}
.CalltoAction:hover {
	color: #aa9771;
	background: none;	
}
.HomeWorth 
{
	text-align: center;
	padding: 80px 0px;
}
.HomeWorth h2 {
	font-family: 'GFS Didot', serif;
	font-size: 40px;
	text-transform: uppercase;
	color: #262626;
}