@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');
.idiot {
    font-family: 'GFS Didot', serif;
}
.worksans {
    font-family: 'Work Sans', sans-serif;
}
body,
.row,
ul,
ol,
p
{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
img {
    max-width: 100%;
    display: block;
}
.displayFlex {
    display: flex;
}
.flexWrap {
    flex-wrap: wrap;
}
.justifyB {
    justify-content: space-between;
}
.justifyC {
    justify-content: center;
}
.alignCenter {
    align-items: center;
}
a {
    text-decoration: none !important;
}

/*footer css*/
#mainFooter {
    background: #000000;
    text-align: center;
    padding: 60px 0px 40px;
    font-family: 'Work Sans', sans-serif
}

#mainFooter h4 {
    color: #c7b187;
    text-transform: uppercase;
    font-size: 21px;
    margin: 0px;
}

#menu-footer-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

#menu-footer-menu li:nth-child(even) {
    margin: 0px 20px;
}

#menu-footer-menu a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    opacity: 0.9;
}

.Policies a {
    color: #ffff;
    opacity: 0.4;
    font-size: 12px;
}

.Policies {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Policies li {
    margin-right: 20px;
}
.footerLogo {
    max-width: 50px;
    max-height: 50px;
}
.copyRights {
    margin: 20px 0px 0px;
    color: #fff;
    opacity: 0.4;
    letter-spacing: 2px;
    font-size: 12px;
}
footer .minimumContainer {
    max-width: 700px;
    margin: auto;
}
.IconCOntainer {
    width: 100%;
    min-height: 167px;
    background: #0f0f0f;
    cursor: pointer;
}
.IconCOntainer:nth-child(even) {
    background: #212121;
}
.IconCOntainer:hover {
    background: url('./assets/images/gradient.png');
}
.IconCOntainer i {
    font-size: 36px;
    color: #fff;
}
.profileBgSocail {
    background: url('./assets/images/Social.png');
    background-size: 100% 100%;
    padding: 50px 0px;
}

.contentheading span {
    display: block;
    font-size: 22px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: #a3a3a3;
    padding-left: 50px;
    position: relative;
}
.contentheading h5 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    color: #ccbe9d;
    margin: 20px 0px 0px;
}
.profileBgSocail h2  {
    font-size: 80px;
    line-height: normal;
    font-family: 'GFS Didot', serif;
    font-weight: 700;
    text-transform: uppercase;
}
.profileBgSocail .contentheading {
    max-width: 300px;
    margin: auto;
    display: block;
}
.contentheading span::after {
    content: "";
    width: 40px;
    height: 4px;
    background: url('./assets/images/gradient.png');
    display: block;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.CalltoAction 
{
    background: url('./assets/images/gradient.png');
    display: flex;
    background-size: 100% 100%;
    align-items: center;
    justify-content: center;
    height: 50px;
    max-width: 235px;
    font-size: 14px;
    color: #000000;
    font-weight: 500;
    margin: 30px auto 0px;
    border: 2px solid #aa9771;
}
.CalltoAction:hover {
    color: #aa9771;
    background: none;   
}
.HomeWorth 
{
    text-align: center;
    padding: 80px 0px;
}
.HomeWorth h2 {
    font-family: 'GFS Didot', serif;
    font-size: 40px;
    text-transform: uppercase;
    color: #262626;
}
#Logomain {
    max-width: 181px;
    max-height: 131px;
}
.UpperDow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoContainerHeader {
    width: 18%;
    /* background: red; */
}

.containerListadnCall {
    width: 82%;
}

.UpperDow p {
    color: #ccbe9d;
    text-align: center;
    display: block;
    width: fit-content;
    margin: auto;
    position: relative;
    font-size: 20px;
    line-height: normal;
    font-weight: 400;
}

.UpperDow p::after,.UpperDow p::before {
    content: "";
    display: block;
    width: 92%;
    height: 2px;
    background: #4d687a;
    position: absolute;
    /* left: -100%; */
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 152px;
}

.UpperDow p::after {
    left: -70%;
}

.UpperDow p::before {
    right: -70%;
}

.CallerId {
    display: flex;
    align-items: center;
    justify-content: center;
}

.CallerId span {
    display: block;
    font-size: 14px;
    color: #c7b187;
}

.CallerId a {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
}

.CallerId img {
    margin-right: 10px;
}

.CallerId h2 {
    margin-bottom: 0px;
}
.mainMenu ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.mainMenu a {
    font-size: 12px;
}
.mainMenu li:not(:first-child) {
    margin-right: 20px;
}
.bannerContainerHeader {
    background-size: 100% 100%;
    background-blend-mode: multiply;
    background-color: #000000b0;
    color: #ffff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 65px; */
    min-height: 509px;
    background-attachment: fixed;
}

.bannerContainerHeader h2 {
    font-size: 65px;
    text-transform: uppercase;
    font-family: 'GFS Didot', serif;
    font-weight: 700;
}

#Mainheader {
    position: fixed;
    width: 100%;
}

#Mainheader nav a {
    color: #fff;
}
.breaCrumb {
    margin: 30px 0px;
}

.breaCrumb span {
    color: #333333;
    text-transform: capitalize;
    font-size: 14px;
}
.BlogContainerTop p {
    color: #5c5353;
    font-size: 16px;
    line-height: 24px;
    width: 90%;
}

.BlogContainerTop h2 {
    font-size: 45px;
    text-transform: uppercase;
    color: #262626;
    font-family: 'GFS Didot', serif;
    font-weight: 600;
    margin: 20px 0px;
}
.blogImage {
    max-width: 431px;
    max-height: 421px;
    object-fit: cover;
    margin: auto;
}
.imageContaineBLog {
    width: 35%;
    height: 177px;
    overflow: hidden;
}

.imageContaineBLog img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#PostContainerBlog li {
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 2px dashed #4444;
}

.contentBlogPage {
    width: 60%;
}

#PostContainerBlog h4 {
    color: #ccbe9d;
    font-size: 20px;
    line-height: normal;
    font-weight: 400;
}

#PostContainerBlog p {
    line-height: 17px;
    font-size: 13px;
    color: #5c5353;
}

#PostContainerBlog a {
    font-size: 12px;
    text-transform: capitalize;
    color: #5c5353;
    display: block;
    margin: 30px 0px 0px;
}

.bLogContainerRow h2 {
    font-size: 32px;
    text-transform: uppercase;
    font-family: 'GFS Didot', serif;
    margin: 50px 0px 50px;
}

#PostContainerBlog li:last-child {
    border: none;
}
.infoPost ul {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.infoPost li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
    font-size: 14px;
    color: #000;
    font-weight: 500;
}

.infoPost li img {
    margin-right: 15px;
}

.ContentSingleCOntainer h2 {
    font-size: 35px;
    line-height: 44px;
    max-width: 70%;
    color: #262626;
    font-family: 'GFS Didot', serif;
    margin: 0px 0px 20px;
}
.ContentSingleCOntainer p {
    font-size: 18px;
    color: #5c5353;
    line-height: 24px;
}
.share_text_mobile {
    font-weight: 600;
    color: #111111;
}

.ShareLinks {
    margin: 100px 0px 0px;
    border: 1px solid #4444;
    padding: 20px 100px;
    border-left: 0;
    border-right: 0;
}

.ShareLinks i {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    color: #000;
    border-radius: 50%;
    font-size: 14px;
}

.LInksSocial span {
    margin-right: 14px;
}

.ShareLinks i:hover {
    background: #ccbe9d;
    color: #ffff;
    border-color: #ccbe9d;
}
.backgroundImageCOntainer {
    min-height: 417px;
    background-size: cover;
    padding: 30px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.backgroundImageCOntainer h5 {
    color: #fff;
    font-size: 18px;
    margin: 0;
}

.backgroundImageCOntainer span {
    flex: 0 100%;
    background: url('./assets/images/gradient.png');
    display: block;
    width: 100%;
    height: 20px;
    /* background: url(./assets/images/gradient.png); */
    display: flex;
    background-size: 100% 100%;
    align-items: center;
    justify-content: center;
    height: 29px;
    max-width: 105px;
    font-size: 11px;
    color: #000000;
    font-weight: 500;
    margin: 30px auto 0px;
    border: 2px solid #aa9771;
    font-weight: 700;
    border-radius: 10px;
}
.backgroundImageCOntainer span {
    margin: 0px;
    margin-bottom: 20px;
}
.searcher {
    position: absolute;
    right: 0;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./assets/images/gradient.png');
    font-size: 20px;
}
.singlePage {
    position: relative;
}
.ShareLinks {
    margin-bottom: 80px;
}
.ShareLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.NextAndPrevPost a {
    font-size: 12px;
    color: #000;
}
.containerContactForm{
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.containerContactForm::after {
    content: "";
    display: block;
    width: 40%;
    height: 100%;
    background-color: #000;
    background-image: url(./assets/images/contact.png);
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
span.color {
    color: #cfba92;
}

.containerContactForm h2 {
    font-family: 'GFS Didot', serif;
    font-size: 40px;
}

.containerContactForm a {
    display: flex;
    flex-wrap: wrap;
}

.containerContactForm a img {
    flex: auto;
    width: auto;
    margin: auto;
    max-width: 100%;
}
.containerContactForm a span {
    flex: 0 100%;
    text-align: center;
}
.leftCOntainerContact {
    max-width: 344px;
    margin-left: 0px;
}

.containerContactForm a {
    border: 2px dashed #ffff;
    margin-bottom: 20px;
    min-height: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    color: #ffff;
}

.containerContactForm a:last-child {
    /* margin: 0px; */
}

.containerContactForm::after {
    background-blend-mode: multiply;
    background-color: #000000a6;
    width: 45%;
}

.leftCOntainerContact h2 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 50px 0px 0px;
    font-weight: 700;
}
.FormContainer {
    width: fit-content;
    margin-left: auto;
    max-width: 555px;
}

.FormContainer input, .FormContainer textarea {
    border: 2px solid #000;
    padding: 0px 10px;
    min-height: 45px;
    margin-bottom: 30px;
    width: 100%;
}

.FormContainer input::placeholder, .FormContainer textarea::placeholder {
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
}

.FormContainer input:focus, .FormContainer textarea:focus {
    outline: 1px solid #c1a26b;
}

.FormContainer textarea {
    padding: 15px 20px 0px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.FormContainer input[type="submit"] {
    min-width: 255px;
    max-width: 255px;
    margin-left: 15px;
    min-height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #262626;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 17px;
    background: url('./assets/images/gradient.png');
    border: 2px solid #aa9771;
}
.FormContainer input[type="submit"]:hover {
    background: none !important;
    color: #aa9771;
       
}
.rightColumnCOntact h2 {
    max-width: 545px;
    margin-left: auto;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 700;
}
.contentCOntact .contentheading {
    max-width: 600px;
}

.contentCOntact p {
    margin: 30px 0px 0px;
    color: #5c5353;
    font-size: 18px;
    line-height: 24px;
}

.contentCOntact h2 {
    font-size: 50px;
    font-family: 'GFS Didot', serif;
    font-weight: 700;
    margin-top: 20px;
}
.contentCOntact img {max-height: 472px;}
.alignBottom {
    align-items: flex-end;
}
.sliderContact img {
    max-height: 500px;
    object-fit: cover;
}

.sliderContact {
    display: flex;
    align-items: center;
}

.slideLefter {
    max-width: 80%;
}

.slideRight {
    max-width: 20%;
}

.slideRight * {
    max-width: 100%;
}
.slideRight * {
    max-width: 100% !important;
    width: 100% !important;
}
.contetnPageodi h2 {
    font-size: 36px;
    line-height: 48px;
    color: #2b2b2b;
    font-family: 'GFS Didot', serif;
    max-width: 100%;
    text-transform: uppercase;
    font-weight: 500;
}

.contetnPageodi h6 {
    color: #5c5353;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
}

.contetnPageodi p {
    line-height: 24px;
    color: #5c5353;
    font-size: 14px;
}

.contetnPageodi ul {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contetnPageodi ul li {
    flex: 0 42%;
}

.contetnPageodi {
    margin: 70px 0px 0px;
}

.contetnPageodi ul li {
    margin-top: 50px;
}
.bannerBg {
    padding: 100px 0px;
    /*background-image: url('./assets/images/bg.png');*/
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #fff;
}
.BlogContainerTop.golfPage h2 {
    font-size: 90px;
}

.BlogContainerTop.golfPage p {
    max-width: 100%;
    width: 100%;
    line-height: 30px;
    font-size: 18px;
}
.boxContainer img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
    transition: 0.6s all;
}

.boxContainer {
    position: relative;
    min-height: 431px;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxContainer h2 {
    position: relative;
    z-index: 2;
    color: #ffff;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'GFS Didot', serif;
    font-weight: 500;
}

.boxContainer {
    cursor: pointer;
}

.boxContainer:hover img {
    transform: scale(1.3);
}
.row.boxContainerRow {
    margin: 100px 0px;
}
.checklistContainer h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: #262626;
    font-family: 'GFS Didot', serif;
    margin-bottom: 40px;
}

.checklistContainer li {
    position: relative;
    padding-left: 30px;
    font-size: 15px;
    display: block;
    margin-bottom: 15px;
    color: #333333;
}

.checklistContainer li::before {
    content: "";
    display: block;
    width: 19px;
    height: 19px;
    border: 2px solid #d7c8ac;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 6px;
}

.checklistContainer li::after {
    content: "";
    display: block;
    width: 3px;
    height: 7px;
    border: 1px solid #d7c8ac;
    border-left: 0;
    border-top: 0;
    transform: rotate(45deg);
    position: absolute;
    left: 8px;
    top: 11px;
}

.postContainerD ul#PostContainerBlog li {
    width: 100%;
    max-width: 100%;
    flex: 0 100%;
}
.contetnPageodi.postContainerD #PostContainerBlog h4 {
    font-family: 'GFS Didot', serif;
    color: #000;
    font-size: 30px;
    margin-bottom: 10px;
}

.contetnPageodi.postContainerD #PostContainerBlog .priceIs {
    margin: 20px 0px 0px;
    display: block;
    color: #d1c5a9;
    font-size: 22px;
}

.postContainerD ul#PostContainerBlog li {
    /* align-items: flex-start; */
}

.imageContaineBLog {
    height: 100%;
}

.contetnPageodi.postContainerD #PostContainerBlog a {
    margin: 20px 0px 0px;
}
.contetnPageodi.ParkCity ul li {
    margin: 0px;
    font-size: 14px;
}

.contetnPageodi.ParkCity ul li h6 {
    font-size: 14px;
    text-decoration: underline;
    color: #5c5353;
}
.BlogContainerTop h2 span {
    position: relative;
    display: inline-block;
    padding: 0px;
    font-size: 13px;
    font-weight: 400;
    color: #5c5353;
}

.BlogContainerTop h2 span::after {
    display: none;
    /* display: inline-block; */
}

.BlogContainerTop h2 span span {
    color: #ccbe9d;
    margin-right: 10px;
}
.rightColumnCOntact * {
    width: 100%;
    max-width: 100%;
    margin: 0px;
}

.rightColumnCOntact h2 {
    margin-left: 15px;
}

.rightColumnCOntact {
    margin: 40px 0px 0px;
}
.ContentTestimonial 
{
    padding: 0px 0px 50px;
    background-size: 100% 100%;
    margin-bottom: 30px;
    border-bottom: 1px solid #cccc;
}
.contetnTest:hover  {
     background: url(./assets/images/testimonials.jpg); 
     cursor: pointer;
}
.ContentTestimonial h2 {
    font-size: 22px;
    font-weight: 700;
    position: relative;
    color: #262626;
}

.ContentTestimonial h2::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: #262626;
    margin: 10px 0px 20px;
}

.ContentTestimonial p {
    font-size: 14px;
    color: #262626;
}
.contetnTest {
    padding: 50px 70px 0px;
}
.BlogContainerTop h2.Biggr {
    font-size: 85px;
    margin-bottom: 60px;
}
.contetnPageodi.utility-companies ul li {
    flex: 0 27%;
    margin: 0px;
    font-size: 14px;
}

.contetnPageodi.utility-companies ul li h6 {
    font-size: 14px;
    font-weight: 400;
}
.boxContainerbox {
    border: 14px solid #c5c5c5;
}

.boxContainerbox img {
    margin-bottom: 15px;
}

.boxContainerbox h6 {
    font-weight: 700;
    color: #262626;
    padding: 0px 20px;
}

.boxContainerbox p {
    font-size: 13px;
    color: #262626;
    padding: 0px 20px;
}

.boxContainerbox p.prices {
    color: #d1c5a9;
    font-size: 32px;
    font-weight: 700;
}

.boxContainerbox a {
    background: url('./assets/images/gradient.png');
    display: flex;
    background-size: 100% 100%;
    align-items: center;
    justify-content: center;
    height: 50px;
    max-width: 235px;
    font-size: 14px;
    color: #000000;
    font-weight: 500;
    margin: 30px auto 0px;
    border: 2px solid #aa9771;
    width: fit-content;
    margin-left: 15px;
    padding: 0px 20px;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.boxContainerbox {
    margin-bottom: 40px;
    border-radius: 14px;
}

.boxContainerbox:hover {
    /* border-color: #c5c5c5; */
    border-color: #c2ab80;
    cursor: pointer;
}
.mapcontainer {
    min-height: 590px;
    background: url('./assets/images/map.jpg');
    background-size: 100% 100%;
    margin-bottom: 80px;
}
header#Mainheader.black {
    position: relative;
}

header#Mainheader.black ul li a {
    COLOR: #000;
}

header#Mainheader.black ul li a {}

header#Mainheader.black .CallerId a {
    color: #000;
}

header#Mainheader.black {
    padding: 10px 0px 30px;
}
.containermapsearch {
    max-width: 1080px;
    /* margin: 40px auto 0px; */
    margin: auto;
    background: #fff;
    padding: 40px 20px;
}

.mapcontainer {
    padding-top: 40px;
}

.containermapsearch input,.containermapsearch select {
    width: 100%;
    height: 43px;
    line-height: normal;
    font-size: 13px;
    text-transform: capitalize;
    padding: 0px 10px;
    border-radius: 5px;
    border: 1px solid #cccc;
}

.containermapsearch input[type="submit"] {
    height: 43px;
    margin: 0;
    background: #c7b187;
    border: 2px solid #c7b187;
    color: #fff;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
}
.BlogContainerTop h2.HorseProperty {
    font-size: 85px;
}
.buttonsHomeanner a {
    /* background: url(./assets/images/gradient.png); */
    display: flex;
    background-size: 100% 100%;
    align-items: center;
    justify-content: center;
    height: 50px;
    max-width: 235px;
    font-size: 14px;
    color: #000000;
    font-weight: 500;
    margin: 30px auto 0px;
    border: 2px solid #aa9771;
    color: #c7b187;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0px 20px;
    width: 100%;
}

.buttonsHomeanner a:hover {
    background: url('./assets/images/gradient.png');
    color: #000
}

.buttonsHomeanner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 90px;
    max-width: 1140px;
    width: 100%;
}

.bannerContainerHeader {
    position: relative;
}

header#Mainheader {
    top: 0;
    z-index: 999;
}
.headingss .BlogContainerTop h2 span {
    font-size: inherit;
    font-weight: inherit;
    color: #ccbe9d;
}

.headingss .BlogContainerTop h2 {
    font-weight: 600;
}

.bglights {
    background: #f7f7f7;
    padding: 80px 0px;
}

body.home .mapcontainer {
    margin-bottom: 0px;
}
.bglights .row .col-md-4 a {
    border: 1px solid #262626;
    width: 100%;
    display: block;
    padding: 20px;
    text-align: center;
    color: #262626;
    background: #fff;
    margin-bottom: 20px;
    font-size: 22px;
}
.bglights a.viewall {
    width: 205px;
    height: 56px;
    border: 1px solid #262626;
    color: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto 0px;
    background: #fff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: normal;
}

.bglights .row .col-md-4 a:hover,
.bglights a.viewall:hover
{
    background: url('./assets/images/gradient.png')
}
.propertysometigng {
    margin-top: 50px;
}
a.learnMore {
    width: 205px;
    height: 56px;
    border: 1px solid #262626;
    color: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto 0px;
    background: #fff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: normal;
    margin-left: 0px;
}
.covidsection {
    margin: 100px 0px 0px;
}
.slideImageContact 
{
    position: relative;
    background: url('./assets/images/slider1.jpg');
}
.positionInherit {
    position: inherit;
}
img.sliderImage {
    position: absolute;
    right: 0px;
    top: 0;
}

.slideImageContact {
    min-height: 600px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.slideImageContact .contentheading h5 {
    color: #262626;
}

.slideImageContact .contentheading span {
    color: #262626;
}

.slideImageContact .contentheading span::after {
    background: #262626;
}
.contentSlider h5 {
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 30px;
}

.contentSlider p {
    font-size: 15px;
    max-width: 80%;
}
.slideImageContact ul.slick-dots {
    display: flex;
}

.slideImageContact ul.slick-dots li {
    width: 10px;
    height: 10px;
    /* font-size: 0; */
    display: block;
    background: #fff;
    margin-right: 9px;
    border-radius: 50%;
}

.slideImageContact ul.slick-dots button {
    display: none;
}

.slideImageContact ul.slick-dots {
    position: absolute;
    bottom: -60px;
}

.slideImageContact ul.slick-dots li.slick-active {
    background: #262626;
}
.slideImageContact {
    margin: 100px 0px 0px;
}
.blogis {
    background: url('./assets/images/blog.jpg');
}
.blogrow .BlogContainerTop h2,.blogrow .BlogContainerTop p  {
    color: #fff;
}
.blogrow .BlogContainerTop .NumberProfile {
    color: #fff;
}

.blogrow {
    margin: 100px 0px;
    min-height: 600px;
}

.blogrow > .row {
    /* height: 100%; */
    min-height: 600px;
}

.blogrow .BlogContainerTop {
    max-width: 429px;
    margin-left: auto;
}

.blogrow .row .col-md-7 {
    padding: 80px;
    /* display: flex; */
}

.blogrow .backgroundImageCOntainer {
    min-height: 300px;
}

.blogrow .row .col-md-7 .col-md-4 {
    height: 100%;
}

.col-md-5.blogis {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

a.allblog {
    width: 205px;
    height: 56px;
    border: 1px solid #262626;
    color: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto 0px;
    background: #fff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: normal;
    margin-left: 0px;
    margin-left: 17px;
    background: url('./assets/images/gradient.png');
}
.meet .container {
    max-width: 80%;
    width: 100%
}
.meet {
    margin: 100px 0px;
}
.bannerContainerHeader .container {
    position: relative;
}

.bannerContainerHeader {
    display: flex;
    align-items: flex-end;
}
header#Mainheader.black.scrolled {
    position: fixed;
    top: 0;
    background: #fff;
    box-shadow: 0 0 13px 0 rgba(0,0,0,.3);
}

header#Mainheader.black.scrolled {/* transform: scale(0.5); */}